.paraaa{
    background-color: #ffe3ec;
    font-family: sans-serif;
}
.main.para{
    color: #101828;
    font-family: sans-serif;
}
.para44{
    color: #697281;
    font-family: sans-serif;
}
.para444{
    color: #5F6878;
    text-decoration: line-through;
}
.para55{
    font-family:Inter, sans-serif;
    font-weight: 570;
    color: #101828;
}
.paraaa2{
    background-color: #EBFEEA;
    font-family: sans-serif;
}
.paraaa3{
    background-color: #F2E9FF;
}
.imgg2{
    height: 350px;
}