.container6{
    background-color: #F7FBFE;
}
.join{
    /* font-family: Poppins, sans-serif; */
    color: #101828;
}
.join2{
    color: #344054;
    font-family: Inter, sans-serif;
}
.std{
    box-shadow: 20px 20px 25px #EBF3FA;
}
.textss{
    color: #344054;
}
.pppp{
    font-family: Poppins, sans-serif;
}

.class{
    color: #FF0000;
}
.btnnn{
    background-color: #081A28;
}